.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #10162f;
  background: url("./img/health-still-life-with-copy-space.jpg") top center;
  background-size: cover;
}